#username-container, #password-container, #IngresoLog {
	margin: auto!important;
}

@media (min-width: 768px) {
	#username-container, #password-container, #IngresoLog {
		width: 60vw!important;
	}
}

@media (min-width: 992px) {
	#username-container, #password-container, #IngresoLog {
		width: 35vw!important;
	}
}