{{#partial "contenido"}}
    <h1 class="text-center mb-4">Crear Nueva Prenda</h1>

    <div class="row">
        <div class="col-lg-3">
            <h3>Tipo de Prenda</h3>
            <select data-placeholder="Tipo de Prenda" class="chosen-select" tabindex="2">
                <option value=""></option>
                <option>REMERA MANGA CORTA</option>
                <option>REMERA_MANGA_LARGA</option>
                <option>CAMISA</option>
                <option>BUZO</option>
                <option>CAMPERA</option>
                <option>PANTALON_LARGO</option>
                <option>BERMUDA</option>
                <option>POLLERA</option>
            </select>
        </div>
        <div class="col-lg-3">
            <h3>Material de Prenda</h3>
            <select data-placeholder="Tipo de Prenda" class="chosen-select" tabindex="2">
                <option value=""></option>
                <option>CUERO</option>
                <option>LANA</option>
                <option>ALGODON</option>
                <option>POLIESTER</option>
                <option>GOMA</option>
                <option>PLATA</option>
                <option>ORO</option>
                <option>PLASTICO</option>
                <option>DENIM</option>
            </select>
        </div>
        <div>
            <h3>Color Principal</h3>
            <select id="colorselector">
                <option>Blanco</option>
                <option>Negro</option>
                <option>Azul</option>
                <option>Rojo</option>
                <option>Amarrillo</option>
                <option>Verde</option>
            </select>
        </div>
    </div>
    <input type="submit" value="Agregar Prenda"/>
{{/partial}}

{{>layout.hbs}}