{{#partial "contenido"}}
    <h1 class="text-center mb-4">Prendas del guardarropa</h1>

    <div class="row">
        {{#each prendas}}
            <div class="col-6 col-md-4 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card flex-fill">
                    {{#if tieneImagen}}
                        <img
                            src='data:image/jpeg;base64, {{base64 imagen}}'
                            class="card-img-top" alt="imagen de la prenda">
                    {{else}}
                        <img src="/img/logo.png"
                             class="card-img-top" alt="imagen de la prenda">
                    {{/if}}
                    <div class="card-body">
                        <h5>{{sinGuionesBajos tipo}}</h5>
                        <p>{{material}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/partial}}

{{>layout.hbs}}