{{#partial "contenido"}}
    <h1 class="text-center mb-4">Crear Nueva Prenda</h1>

    <div class="text-center mb-2">
        <div class="card-deck mb-4 text-center">
            <div class="card">
                <div class="card-header">
                    <h3>Tipo</h3>
                </div>
                <div class="card-body">
                    <select data-placeholder="Tipo de Prenda" class="chosen-select" tabindex="2">
                        <option value=""></option>
                        <option>REMERA MANGA CORTA</option>
                        <option>REMERA MANGA LARGA</option>
                        <option>CAMISA</option>
                        <option>BUZO</option>
                        <option>CAMPERA</option>
                        <option>PANTALON LARGO</option>
                        <option>BERMUDA</option>
                        <option>POLLERA</option>
                    </select>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Material</h3>
                </div>
                <div class="card-body">
                        <select data-placeholder="Tipo de Prenda" class="chosen-select" tabindex="2">
                            <option value=""></option>
                            <option>CUERO</option>
                            <option>LANA</option>
                            <option>ALGODON</option>
                            <option>POLIESTER</option>
                            <option>GOMA</option>
                            <option>PLATA</option>
                            <option>ORO</option>
                            <option>PLASTICO</option>
                            <option>DENIM</option>
                        </select>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Color Principal</h3>
                </div>
                <div class="card-body">
                    <select id="colorselector">
                        <option>Blanco</option>
                        <option>Negro</option>
                        <option>Azul</option>
                        <option>Rojo</option>
                        <option>Amarrillo</option>
                        <option>Verde</option>
                    </select>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Color Secundario</h3>
                </div>
                <div class="card-body">
                    <select id="colorselector">
                        <option>Blanco</option>
                        <option>Negro</option>
                        <option>Azul</option>
                        <option>Rojo</option>
                        <option>Amarrillo</option>
                        <option>Verde</option>
                    </select>
                </div>
            </div>

        </div>
    </div>
    <div class="text-center mb-4">
        <a class="btn btn-primary" href="/guardarropas/{{id}}/prendas" type="submit">
            Agregar Prenda
        </a>
        <a class="btn btn-primary" href="/guardarropas/{{id}}/prendas" type="submit">
            Volver
        </a>
    </div>

{{/partial}}

{{>layout.hbs}}