{{#partial "contenido"}}
    <h1 class="text-center mb-4">
        <span class="text-danger">Ups! </span>
        <span>Ha ocurrido un error</span>
    </h1>

    <div class="text-center">
        <em>{{this}}</em>
        <button type="button" class="btn btn-primary text-center" onclick="goBack()">
            Volver atras
        </button>
    </div>


    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{{/partial}}

{{>layout.hbs}}