{{#partial "contenido"}}

    <h1 class="text-center">Bienvenido a Que Me Pongo</h1>
    <div class="icono">
        <img src="/img/logo.png" alt="remera">
    </div>
    	
        <form action="/login" method="post" name="FormEntrar">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" name="username" placeholder="Usuario" id="Username" aria-describedby="sizing-addon1" required>
            </div>
            <br>
            <div class="input-group input-group-lg">
                <input type="password" name="password" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit">Entrar</button>
        </form>
    </div>
    </div>
    
    <script>
    	bs4pop.notice('El nombre de usuario y la contrasena que ingresaste no coinciden con nuestros registros', {
    		type: 'danger',
    		position: 'bottomcenter',
    		appendType: 'append',
    		closeBtn: false,
    		className: ''
    	})
    </script>
{{/partial}}

{{>layout.hbs}}